{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/figures.css' %}">
{% endblock %}


{% block content %}
<div style="background-color:white; margin-top:30px" class="container">

<form action="{% url 'choose2' %}" method="post">
    {% csrf_token %}
    <label for="cars">الرجاء اختيار 14 سمة تتميز بها شخصيتك</label>
    <p id="selected-figure" class="fixed-bottom">0</p>
    <select name="figure" id="figure" name="language" class="custom-select" multiple aria-label="multiple select example">
        
    {% for figure in figures %}
        <div>
            
            <option value="{{figure.id}}">
                
                <div style="text-align: center; font-size:38px; color:white;font-weight: bold;">{{figure.text}}</div>
                break
                {% if figure.identification %}
                <div style="text-align: center; font-size:30px; margin-top:20px;color:white;">{{figure.identification}}</div>
                {% endif %}
                break
                {% if figure.example %}
                <div style="text-align: center; font-size:30px; margin-top:20px;color:white;">مثال: {{figure.example}}</div>
                {% endif %}

            </option>
        </div>
        
    {% endfor %}
    
    </select>
    <input id="submit" type="submit" value="التالي" style="display:none;">
</form>

</div>
<script>
function ok(){
    console.log(document.getElementById("figure").length)
}
</script>
<script src="{% static 'js/figures.js' %}"></script>
{% endblock %}