{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/viewPoints.css' %}">
{% endblock %}


{% block content %}


<h1>نتيجة الاختبار</h1>


<div class="container viewPointBox" style="background-color:white; margin-top:30px; padding:30px;" dir="rtl">
    <p class="userWlcom">مرحبا يا <span style="font-weight: bold;">{{figure.user}}</span> تم انتهاء من الاختبار</p>

    {% for figure in figures %}
    <div class="figureBox" style="background-color: {{figure.3.color}};">
        {{figure.forloop.counter }}
        <p class="figureText">نتيجة سمة  {{figure.1}} ({{figure.2}})</p>
        <p class="figureText">{{figure.3.text}}</p>
    </div>
    {% if forloop.counter < 7 %}
    <div class="space"></div>
    {% endif %}
    {% endfor %}
<!--
    <div class="figureBox">
        {{figure.0}}
        <p class="figureText">نتيجة سمعة  {{figure.figures_1.text}} ({{figure.figures_1_points}})</p>
        <p class="figureText">{{figures_1_points}}</p>
    </div>

    <div class="space"></div>

    <div class="figureBox">
        <p class="figureText">نتيجة سمعة  {{figure.figures_2.text}} ({{figure.figures_2_points}})</p>
        <p class="figureText">{{figures_2_points}}</p>
    </div>
    
    <div class="space"></div>

    <div class="figureBox">
        <p class="figureText">نتيجة سمعة  {{figure.figures_3.text}} ({{figure.figures_3_points}})</p>
        <p class="figureText">{{figures_3_points}}</p>
    </div>

    <div class="space"></div>

    <div class="figureBox">
        <p class="figureText">نتيجة سمعة  {{figure.figures_4.text}} ({{figure.figures_4_points}})</p>
        <p class="figureText">{{figures_4_points}}</p>
    </div>

    <div class="space"></div>

    <div class="figureBox">
        <p class="figureText">نتيجة سمعة  {{figure.figures_5.text}} ({{figure.figures_5_points}})</p>
        <p class="figureText">{{figures_5_points}}</p>
    </div>

    <div class="space"></div>

    <div class="figureBox">
        <p class="figureText">نتيجة سمعة  {{figure.figures_6.text}} ({{figure.figures_6_points}})</p>
        <p class="figureText">{{figures_6_points}}</p>
    </div>

    <div class="space"></div>

    <div class="figureBox">
        <p class="figureText">نتيجة سمعة  {{figure.figures_7.text}} ({{figure.figures_7_points}})</p>
        <p class="figureText">{{figures_7_points}}</p>
    </div>


</div>
-->
<div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'ExportPdf' %}" class="btn btn-primary">رؤية النتيجة اكثر تفصيلاََ</a>
    <br>
    <br>
    <a href="{% url 'ExportPdfAllFigures' %}" class="btn btn-primary">رؤية معلومات عن جميع الصفات</a>
</div>
{% endblock %}